.profile-picture {max-width: 100%; 
	margin : 0 auto;}

html{
	background-color:#ecf0f1;
}

body{
	background: none;
	color: #69707a;
	font-family: arial; 
}

strong{color: #222324;}

.navbar{background:#e16879;}

.navbar-title{color: white;}

.btn{font-weight: 300;}

.btn-primary {
	background:#e16879;
	border-color: #e16879;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {background: #e05164;
border-color: #e05164;}

.card{border-color: #ccc;}

.card-title {color: #e16879;
	font-weight: 300;
}

.card-block small {float: right;}

.description{ background-image: url("http://www.alternativesante.fr/upload/cache/medias/aloe_w590_h390_r4_q90.jpg"); 
background-repeat:repeat-x;background-size: 400PX;
}

/* Additional stuff for index.html page */
.jumbotron {
	background-image: url(https://www.mrsmithworldphotography.com/photos/City-Skyline-16.jpg);
background-size: cover;
color: white;}
