.profile-picture {max-width: 100%; 
	margin : 0 auto;}

html{
	background-color:#ecf0f1;
	min-height: 100%;
}

body{
	background: none;
	color: #69707a;
	font-family: arial;
	min-height: 100%; 
}

strong{color: #222324;}

.navbar{background:#e16879;
margin-bottom: 0px;}

.navbar-title{color: white;
}

.btn{font-weight: 300;}

.btn-primary {
	background:#e16879;
	border-color: #e16879;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {background: #e05164;
border-color: #e05164;}

.card{border-color: #ccc;}

.card-title {color: #e16879;
	font-weight: 300;
}

.card-block small {float: right;}

.description{ background-image: url("http://3.bp.blogspot.com/-3HApTGlJVUo/USusRS6Jt6I/AAAAAAAAB50/Ms-LKag7t2Y/s1600/colored-pencil-on-gessoed-board.gif"); 
background-repeat:repeat-x;background-size: 300PX;
}

/* Additional stuff for index.html page */
.jumbotron {
	background-image: url(http://1.bp.blogspot.com/-TSDEKstNuJ8/T9Nb5Yk3FWI/AAAAAAAAA_g/CyJm6oEQXnY/s1600/BlackandWhiteLondonClockTower-long+goodbye.png);
background-size: cover;
color: white;
margin-bottom: 0px;
min-height: 100%;
}
